In [20]:
import pandas as pd

In [21]:
data = "cleaned_data.csv"
# Read the data into a DataFrame
df = pd.read_csv(data)
df = df[df['country'].str.contains('United States', na=False)]
# Display the filtered DataFrame
print(df)

      Unnamed: 0                 region_group           income_group  \
0              0  Europe and Northern America  High income countries
1              1  Europe and Northern America  High income countries
2              2  Europe and Northern America  High income countries
3              3  Europe and Northern America  High income countries
4              4  Europe and Northern America  High income countries
...          ...                          ...                    ...
1140        1140  Europe and Northern America  High income countries
1141        1141  Europe and Northern America  High income countries
1142        1142  Europe and Northern America  High income countries
1143        1143  Europe and Northern America  High income countries
1144        1144  Europe and Northern America  High income countries

            country                                     category Location  \
0     United States                                 Sex & Wealth      NaN
1     United States                                 Sex & Wealth      NaN
2     United States                                 Sex & Wealth      NaN
3     United States                                 Sex & Wealth      NaN
4     United States                                 Sex & Wealth      NaN
...             ...                                          ...      ...
1140  United States  Location & Speaks Language at Home & Wealth    Rural
1141  United States  Location & Speaks Language at Home & Wealth    Rural
1142  United States  Location & Speaks Language at Home & Wealth    Rural
1143  United States                      Sex & Location & Wealth    Rural
1144  United States                      Sex & Location & Wealth    Rural

          Wealth  Region  Ethnicity  comp_prim_v2_m  ...  edu0_prim_m  \
0     Quintile 1     0.0        0.0          0.9798  ...          0.0
1     Quintile 2     0.0        0.0          1.0000  ...          0.0
2     Quintile 3     0.0        0.0          0.9983  ...          0.0
3     Quintile 4     0.0        0.0          0.9946  ...          0.0
4     Quintile 5     0.0        0.0          1.0000  ...          0.0
...          ...     ...        ...             ...  ...          ...
1140  Quintile 3     0.0        0.0          0.0000  ...          0.0
1141  Quintile 4     0.0        0.0          0.0000  ...          0.0
1142  Quintile 5     0.0        0.0          0.0000  ...          0.0
1143  Quintile 1     0.0        0.0          0.0000  ...          0.0
1144  Quintile 3     0.0        0.0          0.0000  ...          0.0

      edu0_prim_no  comp_higher_2yrs_2529_m  comp_higher_2yrs_2529_no  \
0              0.0                      0.0                       0.0
1              0.0                      0.0                       0.0
2              0.0                      0.0                       0.0
3              0.0                      0.0                       0.0
4              0.0                      0.0                       0.0
...            ...                      ...                       ...
1140           0.0                      0.0                       0.0
1141           0.0                      0.0                       0.0
1142           0.0                      0.0                       0.0
1143           0.0                      0.0                       0.0
1144           0.0                      0.0                       0.0

      comp_higher_4yrs_2529_m  comp_higher_4yrs_2529_no  \
0                         0.0                       0.0
1                         0.0                       0.0
2                         0.0                       0.0
3                         0.0                       0.0
4                         0.0                       0.0
...                       ...                       ...
1140                      0.0                       0.0
1141                      0.0                       0.0
1142                      0.0                       0.0
1143                      0.0                       0.0
1144                      0.0                       0.0

      comp_higher_4yrs_3034_m  comp_higher_4yrs_3034_no  attend_higher_1822_m  \
0                         0.0                       0.0                   0.0
1                         0.0                       0.0                   0.0
2                         0.0                       0.0                   0.0
3                         0.0                       0.0                   0.0
4                         0.0                       0.0                   0.0
...                       ...                       ...                   ...
1140                      0.0                       0.0                   0.0
1141                      0.0                       0.0                   0.0
1142                      0.0                       0.0                   0.0
1143                      0.0                       0.0                   0.0
1144                      0.0                       0.0                   0.0

      attend_higher_1822_no
0                       0.0
1                       0.0
2                       0.0
3                       0.0
4                       0.0
...                     ...
1140                    0.0
1141                    0.0
1142                    0.0
1143                    0.0
1144                    0.0

[1145 rows x 47 columns]

In [22]:
df = result = df[df['comp_prim_v2_m'] != 0].groupby('Wealth')['comp_prim_v2_m'].mean().reset_index()
df

       Wealth  comp_prim_v2_m
0  Quintile 1        0.988133
1  Quintile 2        0.996422
2  Quintile 3        0.993444
3  Quintile 4        0.996378
4  Quintile 5        0.999278

In [23]:
df.to_json("quintile.json", orient='records')